[submodule "libraries/widget"]
	path = libraries/widget
	url = https://github.com/lite-xl/lite-xl-widgets
[submodule "plugins/console"]
	path = plugins/console
	url = https://github.com/lite-xl/console
[submodule "plugins/lsp"]
	path = plugins/lsp
	url = https://github.com/lite-xl/lite-xl-lsp
[submodule "plugins/lintplus"]
	path = plugins/lintplus
	url = https://github.com/liquidev/lintplus
